---
import '../styles/tailwind.css'; 
import Navbar from '../components/Navbar.jsx'
import Producto from '../components/Producto.jsx';
import Footer from '../components/Footer.jsx'; 


const componentsData = [
{
    Title: 'HELADO',
	dTitle: 'DE', 
	title: 'YOGURT', 
    Description: 'Suave helado de yogurt. 80% menos grasa y 50% menos ',
	Descripcion: 'azúcar.', 
    heroImageSrc: 'https://www.percimon.com/wp-content/uploads/2021/02/y-helado.png',
}, 
{
	Title: 'HELADO ',
	dTitle: 'DE', 
	title: 'ALMENDRAS',
    Description: 'Suave helado de leche de almendras. Libre de lácteos, sin ',
	Descripcion: 'gluten y 0% azúcar refinada.', 
    heroImageSrc: 'https://www.percimon.com/wp-content/uploads/2021/02/helado-almendras-1.png ',
}, 
{
	Title: 'MIXO' ,
    Description: 'Una base de tu helado o yogurt favorito + 4 adiciones ',
	Descripcion: 'normales incluidas.', 
    heroImageSrc: 'https://www.percimon.com/wp-content/uploads/2021/02/mixo-y-helado.png',
}, 
{
	Title: 'POKET',
    Description: 'Una base de torta artesanal acompañada de tu helado o yogurt favorito.',
    heroImageSrc: 'https://www.percimon.com/wp-content/uploads/2021/02/poket-y-helado.png ',
}, 
{
	Title: 'YOGURT',
	dTitle: 'GRIEGO', 
    Description: 'Yogurt cuchareable y cremoso, con más contenido de ',
	Descripcion: 'proteína y menos contenido de grasa.', 
    heroImageSrc: 'https://www.percimon.com/wp-content/uploads/2021/02/yogur-griego.png',
}, 
{
	Title: 'CUCURUCHOS',
    Description: 'Helado de Yogurt o Helado de Almendras en Cucurucho.',
    heroImageSrc: 'https://www.percimon.com/wp-content/uploads/2021/02/cucurucho-1.png',
}, 
{
	Title: 'PALETAS',
    Description: 'Paletas artesanales. Más de 20 sabores deliciosos para ',
	Descripcion: 'disfrutar.', 
    heroImageSrc: 'https://www.percimon.com/wp-content/uploads/2021/02/paletas-frutales.png',
}, 
{
	Title: 'ADICIONES',
    Description: 'Perfecta combinación de helado y frutas.',
    heroImageSrc: 'https://www.percimon.com/wp-content/uploads/2021/02/adiciones-para-llevar.png',
}, 
{
	Title: 'PRODUCTOS',
	dTitle: 'PARA', 
	title: 'LLEVAR',
    Description: 'Para disfrutar y compartir en casa.',
    heroImageSrc: 'https://www.percimon.com/wp-content/uploads/2021/03/prodctos-circulosy-helado-litro-1.png',
}, 
{
	Title: 'TARJETA',
	dTitle: 'REGALO', 
    Description: 'Ideal para regalar y disfrutar juntos.',
    heroImageSrc: 'https://www.percimon.com/wp-content/uploads/2021/02/bonos.png',
}
]

---


<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Percimon</title>
</head>
<body>
	<Navbar client:load />
	{componentsData.map((data) => (
		<Producto client:load
		  Title={data.Title}
		  dTitle={data.dTitle}
		  title={data.title}
		  Description={data.Description}
		  dDescripcion={data.Descripcion}
		  ImageSrc={data.heroImageSrc}
		/>
	  ))}
	<Footer />
	<div id="app">
		<main>
		  <slot />
		</main>
	  </div>
	  <script>
		import('wowjs').then(({ WOW }) => {
		  new WOW().init();
		});
	  </script>
</body>
</html>

